<div class=" container mt-3 fixed-bottom" style="background-color:#225472;">
        <div class="row py-2">
           <div class="col-sm-5">
                <h5 class="text-white">Designed By : Mohammad Arif</h5>
           </div>
           <div class="col-sm-6 text-right">
                <a href="#" class="text-white mr-4"><i class="fab fa-facebook-f mr-2"></i>Facebook</a>
                <a href="#" class="text-white mr-4"><i class="fab fa-instagram mr-2"></i>Instagram</a>
                <a href="#" class="text-white mr-4"><i class="fab fa-twitter mr-2"></i>Twitter</a>
                <a href="#" class="text-white mr-4"><i class="fab fa-youtube mr-2"></i>youtube</a>
           </div>
        </div>
    </div>