
<nav class="navbar navbar-expand-xl navbar-dark  fixed-top " style="background-color:#225472;">
  <a class="navbar-brand font-weigth-bold" href="{% url 'home' %}"><b>HMS</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto float-right background-ul">
      
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home mr-2"></i>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'contactus' %}">Contact Us</a>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
      </li>
      {% endif %}
      {% if not request.user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      {% endif %}
      <li class="nav-item active mr-5">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
     
      
    </ul>
    
  </div>
</nav>